<div class="row">

  <div class="col-sm-12">
    <div class="modal-header">
      <h4 class="modal-title text-center">Team</h4>
    </div>

    <div class='col-sm-6'>
      <form role="form">

        <div class="form-group">
          <label for="teamname">Name</label>
          <input type="text" class="form-control" id="teamname" ng-model="teamModalCtrl.team.name" placeholder="exp: Team ARI DEV">
        </div>
        <div class="form-group">
          <label for="teamdesc">Description</label>
          <input type="text" class="form-control" id="teamdesc" ng-model="teamModalCtrl.team.desc" placeholder="exp: Dev team">
        </div>

        <h4>Player</h4>
        <div class='well'>
          <div class="form-group">
            <label for="playername">Name</label>
            <input type="text" class="form-control" id="playername" ng-model="teamModalCtrl.player.name" placeholder="Player Name" required>
          </div>
          <div class="form-group">
            <label for="playeremail">Email</label>
            <input type="email" class="form-control" id="playeremail" ng-model="teamModalCtrl.player.email" placeholder="youremail@example.com" required>
          </div>
          <button class='btn btn-xs btn-primary' ng-click='teamModalCtrl.addPlayer()'>Add Player</button>
        </div>
    </div>

    <div class='col-sm-6'>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4 class="panel-title">Players</h4>
        </div>
        <div class="panel-body">
          <div id="dataList">
            <div class="row" ng-repeat="player in teamModalCtrl.team.players">
              <div class="col-md-4 text-left">
                {{player.name}}
              </div>
              <div class="col-md-6 text-left">
                {{player.email}}
              </div>
              <div class="col-md-2 text-center">
                <button ng-click='teamModalCtrl.deletePlayer($index)' class="btn btn-xs btn-danger">Delete</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer col-sm-12">
      <button ng-click="$close(teamModalCtrl.team)" class="btn btn-success">Save</button>
      <button class="btn btn-default" ng-click="$dismiss('cancel')">Cancel</button>
    </div>

    </form>

  </div>

</div>
