<div ng-show="userCtrl.passwordForm.successMessage" class="alert alert-success">
  <strong>Success!</strong>
  <p>{{userCtrl.passwordForm.successMessage}}</p>
</div>

<div ng-show="userCtrl.passwordForm.failMessage" class="alert alert-warning">
  <strong>Whoops!</strong>
  <p>{{userCtrl.passwordForm.failMessage}}</p>
</div>

<form name="form" ng-submit="userCtrl.updatePassword()" novalidate>

  <div class="form-group">
    <label for="changeOldPassword">Existing Password</label>
    <input ng-model="userCtrl.passwordForm.oldPword"
      type="password"
      class="form-control"
      id="changeOldPassword"
      placeholder="password"
      required>
  </div>

  <div class="form-group">
    <label for="changePassword">Password</label>
    <input ng-model="userCtrl.passwordForm.pword"
      type="password"
      class="form-control"
      id="changePassword"
      placeholder="password"
      required>
  </div>

  <div class="form-group" collapse="!userCtrl.passwordForm.pword">
    <label for="changePasswordConfirm">Confirm Password</label>
    <input ng-model="userCtrl.passwordForm.pwordConfirm"
      type="password"
      class="form-control"
      id="changePasswordConfirm"
      placeholder="confirm password"
      required>
  </div>

  <div busy-Indicator></div>

  <button type="submit" class="btn btn-primary pull-right" ng-disabled="form.$invalid">Update Password</button>

</form>
